<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
    <h1>students detail list...</h1>
    <button><a href="/addStudent">add new student</a></button>

    <table border="3px">
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>age</th>
        </tr>
        <% data.forEach(student=>{ %>
            <tr>
                <td>
                    <%= student.id %>
                </td>
                <td>
                    <%= student.name %>
                </td>
                <td>
                    <%= student.age %>
                </td>
            </tr>

            <% })%>
    </table>

</body>

</html>