<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add students</title>
</head>
<body>
    <h1>add student form</h1>
    <form action="/add_student" method="post">
            <input type="number" name="id" placeholder="enter id"><br><br>
            <input type="text" name="name" placeholder="enter name"><br><br>
            <input type="text" name="age" placeholder="enter age"><br><br>
            <input type="submit"><br><br>
            </form>
</body>
</html>